{% extends 'base.html' %}
{% block content %}
<h1>HandsOnIT For Business</h1>
<h2>How does it work?</h2>
<div class="container">
	<div class="row left">
		<div class="col-sm-7">
			
		</div>
		<div class="col-sm-5">
			<p>1 You are a business in need of onsite (IT) support in a country of choice</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row right">
		<div class="col-sm-5">
			<p>2 Search for a freelancer in the country you need</p>
		</div>
		<div class="col-sm-7">

		</div>
	</div>
</div>

<div class="container">
	<div class="row left">
		<div class="col-sm-7">
			
		</div>
		<div class="col-sm-5">
			<p>3 Contact a freelancer from a country of your choice</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row right">
		<div class="col-sm-5">
			<p>4 Hire your chosen freelancer</p>
		</div>
		<div class="col-sm-7">

		</div>
	</div>
</div>
<button class="btn btn-primary" onclick="location.href='/signup/1/'">Sign up here</button>
{% endblock %}