{% extends 'base.html' %}
{% block content %}
<h1>HandsOnIT For Freelancers</h1>
<h2>How does it work?</h2>
<div class="container">
	<div class="row left">
		<div class="col-sm-7">
			
		</div>
		<div class="col-sm-5">
			<p>1 You are a freelancer/handyman who can provide onsite (IT) support for businesses</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row right">
		<div class="col-sm-5">
			<p>2 Create a profile which describes your field of expertise</p>
		</div>
		<div class="col-sm-7">

		</div>
	</div>
</div>

<div class="container">
	<div class="row left">
		<div class="col-sm-7">
			
		</div>
		<div class="col-sm-5">
			<p>3 Businesses can search and contact the people they need</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row right">
		<div class="col-sm-5">
			<p>4 Get hired by a business</p>
		</div>
		<div class="col-sm-7">

		</div>
	</div>
</div>


<button class="btn btn-primary" onclick="location.href='/signup/0/'">Sign up here</button>
{% endblock %}